html, body {background-color: #000000;
    margin: 0;
    padding: 0;
    height: 100%;}

p{color: C0C0C0;}

h1{color: C0C0C0;
	font-size: 60px;
	font-weight: normal;}

h2{color: 690096;
	font-size: 35px;}

	
/* Body---------------------------------------*/
	.container{
		padding: 20px;
		margin: 20px 0px;}

	#main {
		min-width:600px;
		width: 80%;}

	.content{
		margin:0px auto; 
		text-align: center;}	
	
	.content tr td{
		outline-style: solid;
		outline-width: 1px;}

/* Header --------------------------------------*/
#header { background-color: 262626;
		background-repeat: no-repeat;
		height: 28px;
		border-radius: 8px;}
		
/* Header links */
	.nav ul { 
		display:block;
		margin: 0px 0px 0px 0px;
		text-align: center;
		font-weight: bold;
		font-size: 20px;}

	.nav li {display:inline;}

	.nav ul a {
		text-decoration: none;
		color: C0C0C0;
		margin: 0px 20px;}
	.nav ul a:hover {color: 9966FF;}

/* Sidebar-------------------------------------- */
#sidemenu{
	background-image: url('img/sidebar.png');
	background-repeat:repeat-y;
	margin:0px 0px 0px 0px;
	width: 180px;
	height: 200%;}
	
	.sidebar{
		display: block;
		margin: 0px 0px 0px 0px;
		width: 180px;
		color: C0C0C0;
		float:left;
		}
	.sidebar ul a {
		text-decoration: none;
		color: C0C0C0;}
	.sidebar ul a:hover {color: 9966FF;}
		
		
/* Gallery links */
	.gallery ul{
		display:block;
		text-align: left;
		top: 70px;}